body{
  background:#020617;
  color:#00ffcc;
  font-family:monospace;
  text-align:center;
}

.card{
  background:#0f172a;
  border:1px solid #00ffcc;
  padding:20px;
  margin:15px;
  border-radius:12px;
  box-shadow:0 0 10px #00ffcc;
}

input,select{
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
  background:#020617;
  color:#00ffcc;
  border:1px solid #00ffcc;
}

button{
  padding:10px;
  margin:5px;
  border:none;
  border-radius:8px;
  background:#00ffcc;
  color:black;
  font-weight:bold;
}

#toast{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#00ffcc;
  color:black;
  padding:10px;
  border-radius:8px;
  display:none;
}
